body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#map {
  width: 100vw;
  height: 100vh;
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: white;
  padding: 15px;
  overflow-y: auto;
  border-left: 2px solid #ccc;
}

#basemapBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9999;
  background: white;
  border: 1px solid #555;
  padding: 6px 10px;
  cursor: pointer;
}

