body, html {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}

/* TOP-RIGHT SIDEBAR */
#sidebar {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 320px;
    max-height: 95%;
    overflow-y: auto;

    background: white;
    padding: 15px;
    border-radius: 10px;

    box-shadow: 0 0 12px rgba(0,0,0,0.3);
    z-index: 9999;
}

h2 {
    margin: 0 0 10px 0;
}

label {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}



