body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

#map {
    height: 600px;
    width: 100%;
}

#info-panel {
    position: absolute;
    top: 80px;
    right: 20px;
    width: 260px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

