body, html {
    margin: 0;
    height: 100%;
}

#map {
    width: calc(100% - 300px);
    height: 100%;
    float: left;
}

#sidebar {
    width: 300px;
    height: 100%;
    float: right;
    padding: 15px;
    background: #f8f8f8;
    border-left: 1px solid #ccc;
    overflow-y: auto;
}

h2, h3 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}


